In [1]:
from rfpimp import *
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from rfpimp import plot_corr_heatmap
from sklearn.metrics import roc_auc_score

/Users/garycastle/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
pd.set_option('display.max_rows', None)
df_og = pd.read_csv('Data/Clean_Real_Estate.csv')
df_og = pd.DataFrame(df_og).fillna(0)

In [3]:
df = df_og.copy()

In [4]:
df = df.drop([543,752,1202,1241,1293, 245, 516, 624, 880, 987, 1054, 179, 226])

In [5]:
df = df.astype({'Average School Rating': 'float64'})

In [6]:
df = df.drop(columns=['Unnamed: 0'])

In [7]:
df.dtypes

ADDRESS                                                                                        object
CITY                                                                                           object
STATE OR PROVINCE                                                                              object
ZIP OR POSTAL CODE                                                                              int64
PRICE                                                                                           int64
BEDS                                                                                            int64
BATHS                                                                                         float64
SQUARE FEET                                                                                   float64
LOT SIZE                                                                                      float64
YEAR BUILT                                                                                    float64
DAYS ON MARKET                                                                                float64
$/SQUARE FEET                                                                                 float64
URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)     object
MLS#                                                                                           object
LATITUDE                                                                                      float64
LONGITUDE                                                                                     float64
Average School Rating                                                                         float64
dtype: object

In [8]:
numeric_values = list(df.dtypes[df.dtypes!="object"].index)
df[numeric_values].head()

,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,LOT SIZE,YEAR BUILT,DAYS ON MARKET,$/SQUARE FEET,LATITUDE,LONGITUDE,Average School Rating
0,92656,975000,3,2.5,1470.0,4950.0,1993.0,3.0,663.0,33.592613,-117.738368,8.333
1,92656,850000,3,2.5,1393.0,3000.0,1989.0,3.0,610.0,33.592240,-117.749226,9.000
2,92656,1350000,4,3.0,2918.0,5040.0,1989.0,5.0,463.0,33.594179,-117.740063,8.333
3,92656,995000,3,2.5,1605.0,3480.0,1989.0,6.0,620.0,33.596696,-117.744324,9.000
4,92656,1549000,4,4.5,3258.0,5546.0,2011.0,10.0,475.0,33.595652,-117.723661,7.667

In [11]:
model = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)
model.fit(df[numeric_values], y=df['PRICE'])

RandomForestRegressor(oob_score=True, random_state=42)